USE [master]
GO
/****** Object:  Database [DateKeeper]    Script Date: 03.06.2024 09:34:47 ******/
CREATE DATABASE [DateKeeper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DateKeeper', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DateKeeper.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DateKeeper_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DateKeeper_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DateKeeper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DateKeeper]
GO
/****** Object:  Table [dbo].[date_event]    Script Date: 03.06.2024 09:34:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[date_event](
	[date_event] [date] NOT NULL,
	[event] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[date_event] ([date_event], [event]) VALUES (CAST(N'2024-06-02' AS Date), N'Learning C++')
INSERT [dbo].[date_event] ([date_event], [event]) VALUES (CAST(N'2024-06-21' AS Date), N'Algebra and Logic test')
INSERT [dbo].[date_event] ([date_event], [event]) VALUES (CAST(N'2024-06-27' AS Date), N'Mathematical Analysis test')
GO
USE [master]
GO
